.mar-lft-0 {
    margin-left: 0!important
}
.mar-rit-0 {
    margin-right: 0!important
}
.mar-top-0 {
    margin-top: 0!important
}
.mar-btm-0 {
    margin-bottom: 0!important
}
.mar-lft-5 {
    margin-left: 5px!important
}
.mar-rit-5 {
    margin-right: 5px!important
}
.mar-top-5 {
    margin-top: 5px!important
}
.mar-btm-5 {
    margin-bottom: 5px!important
}
.mar-lft-10 {
    margin-left: 10px!important
}
.mar-rit-10 {
    margin-right: 10px!important
}
.mar-top-10 {
    margin-top: 10px!important
}
.mar-btm-10 {
    margin-bottom: 10px!important
}
.mar-lft-15 {
    margin-left: 15px!important
}
.mar-rit-15 {
    margin-right: 15px!important
}
.mar-top-15 {
    margin-top: 15px!important
}
.mar-btm-15 {
    margin-bottom: 15px!important
}
.mar-lft-20 {
    margin-left: 20px!important
}
.mar-rit-20 {
    margin-right: 20px!important
}
.mar-top-20 {
    margin-top: 20px!important
}
.mar-btm-20 {
    margin-bottom: 20px!important
}
.mar-lft-25 {
    margin-left: 25px!important
}
.mar-rit-25 {
    margin-right: 25px!important
}
.mar-top-25 {
    margin-top: 25px!important
}
.mar-btm-25 {
    margin-bottom: 25px!important
}
.pad-lft-0 {
    padding-left: 0!important
}
.pad-rit-0 {
    padding-right: 0!important
}
.pad-top-0 {
    padding-top: 0!important
}
.pad-btm-0 {
    padding-bottom: 0!important
}
.pad-lft-5 {
    padding-left: 5px!important
}
.pad-rit-5 {
    padding-right: 5px!important
}
.pad-top-5 {
    padding-top: 5px!important
}
.pad-btm-5 {
    padding-bottom: 5px!important
}
.pad-lft-10 {
    padding-left: 10px!important
}
.pad-rit-10 {
    padding-right: 10px!important
}
.pad-top-10 {
    padding-top: 10px!important
}
.pad-btm-10 {
    padding-bottom: 10px!important
}
.pad-lft-15 {
    padding-left: 15px!important
}
.pad-rit-15 {
    padding-right: 15px!important
}
.pad-top-15 {
    padding-top: 15px!important
}
.pad-btm-15 {
    padding-bottom: 15px!important
}
.pad-lft-20 {
    padding-left: 20px!important
}
.pad-rit-20 {
    padding-right: 20px!important
}
.pad-top-20 {
    padding-top: 20px!important
}
.pad-btm-20 {
    padding-bottom: 20px!important
}
.pad-lft-25 {
    padding-left: 25px!important
}
.pad-rit-25 {
    padding-right: 25px!important
}
.pad-top-25 {
    padding-top: 25px!important
}
.pad-btm-25 {
    padding-bottom: 25px!important
}
.site-container .booking-header {
    display: none
}
.site-container .booking-header+.site-main {
    margin: 0
}
.site-container .booking-header.show {
    display: block
}
@media screen and (max-width: 47.9375em) {
    .site-container .booking-header.show+.site-main {
        margin-top: 50px
    }
}
.bf-booking-flow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
.booking-flow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative
}
.booking-flow.steps .booking-flow-content.cell {
    background-color: #fff;
    padding: 20px 20px
}
@media screen and (min-width: 23.4375em) {
    .booking-flow.steps .booking-flow-content.cell {
        padding: 20px 38px
    }
}
@media print,
screen and (min-width: 48em) {
    .booking-flow.steps .booking-flow-content.cell {
        width: 50%;
        margin-left: 8.33333%;
        margin-top: 10px;
        padding: 20px 0 150px
    }
}
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .booking-flow.steps .booking-flow-content.cell {
        width: 58.33333%;
        padding-right: 0;
        padding-left: 0
    }
    .booking-flow .appointment-summary,
    .booking-flow .order-summary {
        margin-right: 30px
    }
}
@media print,
screen and (min-width: 64em) {
    .booking-flow.steps .booking-flow-content.cell .gs-form {
        float: left;
        width: 300px
    }
}
.booking-flow.steps .booking-flow-content.cell .gs-button {
    margin-left: auto;
    margin-right: auto
}
.booking-flow .logo-link img {
    width: 146px
}
.booking-flow .booking-flow-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
.booking-flow .booking-flow-steps.cell {
    background-color: #37173d;
    padding-top: 55px;
    padding-bottom: 60px;
    position: relative;
    text-align: center
}
.booking-flow .booking-flow-steps.cell .logo-link {
    margin-bottom: 60px
}
@media print,
screen and (min-width: 48em) {
    .booking-flow .logo-link img {
        width: 175px
    }
    .booking-flow .booking-flow-steps.cell {
        padding-top: 70px;
        padding-bottom: 50px
    }
    .booking-flow .booking-flow-steps.cell .logo-link {
        margin-bottom: 112px
    }
}
.booking-flow .booking-flow-steps.cell .step-details {
    font-family: Brown, sans-serif;
    font-weight: 700;
    color: #fc4945;
    font-size: .8125rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px
}
@media print,
screen and (min-width: 48em) {
    .booking-flow .booking-flow-steps.cell .step-details {
        margin-bottom: 20px
    }
}
.booking-flow .booking-flow-steps.cell .booking-flow-description,
.booking-flow .booking-flow-steps.cell .booking-flow-title {
    max-width: 230px
}
.booking-flow .booking-flow-steps.cell .booking-flow-title {
    margin: 0 auto 20px
}
@media print,
screen and (min-width: 48em) {
    .booking-flow .booking-flow-steps.cell .booking-flow-title {
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 35px
    }
    .booking-flow .booking-flow-steps.cell .booking-flow-title:after {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: rgba(229, 229, 229, .5);
        content: "";
        display: block;
        bottom: 0;
        width: 24px;
        height: 1px
    }
}
.booking-flow .booking-flow-steps.cell .booking-flow-description {
    color: #887a88;
    letter-spacing: .006em;
    margin: 0 auto
}
.booking-flow .booking-flow-steps.cell .help-link {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    color: #fff
}
@media screen and (max-width: 47.9375em) {
    .booking-flow .booking-flow-steps.cell .booking-flow-description {
        position: relative;
        padding-top: 26px;
        margin-top: 26px
    }
    .booking-flow .booking-flow-steps.cell .booking-flow-description:before {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: rgba(229, 229, 229, .5);
        content: "";
        display: block;
        top: 0;
        width: 24px;
        height: 1px
    }
    .booking-flow .booking-flow-steps.cell .help-link {
        display: none
    }
    .booking-flow-confirmation h1 span,
    .wedding-flow-confirmation h1 span {
        display: block
    }
}
.booking-flow .booking-flow-steps.cell .help-link a {
    color: #fff
}
.booking-flow .booking-flow-title {
    font-family: Freight, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    letter-spacing: .018em;
    line-height: 1.25
}
.booking-flow .booking-progress {
    background: #f4f0f0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 1000
}
@media print,
screen and (min-width: 48em) {
    .booking-flow .booking-flow-steps.cell .help-link {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 50px;
        width: 100%
    }
    .booking-flow .booking-progress {
        left: 33.33333%;
        width: 66.66667%
    }
}
.booking-flow .booking-progress.step-1 .progress {
    -webkit-transform: translateX(20%);
    transform: translateX(20%)
}
.booking-flow .booking-progress.step-2 .progress {
    -webkit-transform: translateX(40%);
    transform: translateX(40%)
}
.booking-flow .booking-progress.step-3 .progress {
    -webkit-transform: translateX(60%);
    transform: translateX(60%)
}
.booking-flow .booking-progress.step-4 .progress {
    -webkit-transform: translateX(80%);
    transform: translateX(80%)
}
.booking-flow .booking-progress .progress {
    background-color: #887a88;
    display: block;
    position: relative;
    left: calc(-100% - 5px);
    transition: -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s cubic-bezier(.645, .045, .355, 1);
    transition: transform .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
    height: 100%;
    z-index: 20
}
.booking-flow .booking-progress .progress:after {
    background-color: #fff;
    border: 2px solid #887a88;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    width: 10px;
    height: 10px
}
.booking-flow .booking-progress .step-dot {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #cfc9c8;
    border: 2px solid #f4f0f0;
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
    z-index: 10
}
.booking-flow .booking-progress .step-dot:nth-child(1) {
    left: calc(20% - 10px)
}
.booking-flow .booking-progress .step-dot:nth-child(2) {
    left: calc(40% - 10px)
}
.booking-flow .booking-progress .step-dot:nth-child(3) {
    left: calc(60% - 10px)
}
.booking-flow .booking-progress .step-dot:nth-child(4) {
    left: calc(80% - 10px)
}
.booking-flow .appointment-summary,
.booking-flow .order-summary {
    border: 2px solid #f4f0f0;
    margin-top: 25px
}
@media print,
screen and (min-width: 64em) {
    .booking-flow .appointment-summary,
    .booking-flow .order-summary {
        float: right;
        margin-top: 23px;
        width: 230px
    }
}
@media screen and (min-width: 75em) {
    .booking-flow .appointment-summary,
    .booking-flow .order-summary {
        padding: 30px;
        width: 250px
    }
}
.booking-flow-appointment .address-type-fields {
    margin-top: 25px
}
.booking-flow-appointment .address-type-fields .address-pets {
    margin-bottom: 20px
}
.booking-flow-appointment hr {
    margin: 30px 0 20px
}
.booking-flow-appointment .datetime {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.booking-flow-appointment .datetime .gs-date,
.booking-flow-appointment .datetime .gs-time {
    width: calc(50% - 10px)
}
.booking-flow-appointment .datetime .gs-date input,
.booking-flow-appointment .datetime .gs-date select,
.booking-flow-appointment .datetime .gs-time input,
.booking-flow-appointment .datetime .gs-time select {
    padding-left: 32px
}
.booking-flow-appointment .datetime .gs-date .gs-icon,
.booking-flow-appointment .datetime .gs-time .gs-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 8px;
    width: 14px;
    height: 14px
}
.booking-flow-appointment .time-button {
    margin-top: 25px
}
.booking-flow-appointment .order-summary {
    display: none;
    padding: 30px
}
@media print,
screen and (min-width: 64em) {
    .booking-flow-appointment .order-summary {
        display: block
    }
}
.booking-flow-appointment .order-summary .order-title {
    position: relative;
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .0625em;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center
}
.booking-flow-appointment .order-summary .order-title:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(229, 229, 229, .5);
    content: "";
    display: block;
    bottom: 0;
    width: 24px;
    height: 1px
}
.booking-flow-appointment .order-summary .order-add-ons,
.booking-flow-appointment .order-summary .order-services {
    clear: both;
    font-size: .8125rem;
    letter-spacing: .03em;
    line-height: 1
}
.booking-flow-appointment .order-summary .order-services>li {
    margin-bottom: 18px
}
.booking-flow-appointment .order-summary .order-services>li:after {
    clear: both;
    content: "";
    display: table
}
.booking-flow-appointment .order-summary .order-service {
    float: left;
    max-width: 65%;
    text-transform: capitalize
}
.booking-flow-appointment .order-summary .order-price {
    float: right
}
.booking-flow-appointment .order-summary .order-add-on {
    color: #999;
    padding-top: 8px;
    text-transform: capitalize
}
.booking-flow-appointment .order-summary li.edit {
    margin: 0
}
.booking-flow-appointment .order-summary li.edit a {
    font-family: Brown, sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase
}
.booking-flow-appointment .valid-address {
    text-align: center
}
.booking-flow-appointment .available-times p {
    font-size: 15px;
    margin: 25px 0 15px;
    text-align: center
}
.booking-flow-appointment .available-times p:last-child {
    margin-bottom: 0
}
.booking-flow-appointment .available-times ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.booking-flow-appointment .available-times li {
    margin: 0 4px 15px
}
.booking-flow-appointment .available-times .gs-button {
    margin: 0;
    width: 77px
}
.booking-flow-authentication .name {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.booking-flow-authentication .name:not(.error) {
    margin-bottom: 10px
}
.booking-flow-authentication .name>span {
    width: calc(50% - 10px);
    display: inline-block
}
.booking-flow-authentication .gs-label.password {
    margin-top: 15px
}
.booking-flow-authentication .cancel,
.booking-flow-authentication .change-message,
.booking-flow-authentication .gs-button,
.booking-flow-authentication .reg-form .gs-checkbox,
.booking-flow-authentication .signin-options {
    margin-top: 25px
}
.booking-flow-authentication .email,
.booking-flow-authentication .username {
    margin-bottom: 10px
}
.booking-flow-authentication .change-message {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center
}
.booking-flow-authentication .change-message span {
    font-size: .6875rem
}
.booking-flow-authentication .change-message a {
    text-decoration: none
}
.booking-flow-authentication .signin-form .success {
    margin: 20px 0
}
.booking-flow-authentication .signin-options {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.booking-flow-authentication .signin-options .forgot-password {
    font-family: Brown, sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase
}
.booking-flow-authentication .password-reset-form .username {
    margin: 0
}
.booking-flow-authentication .password-reset-form .cancel {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center
}
.booking-flow-authentication .password-reset-form .cancel a {
    text-decoration: none
}
.booking-flow-authentication .gs-checkbox a {
    font-family: Brown, sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase
}
.booking-flow.steps .booking-flow-authentication .booking-flow-content.cell .gs-form {
    float: none
}
.booking-flow-confirmation .cell,
.wedding-flow-confirmation .cell {
    margin-top: 90px;
    padding: 0;
    text-align: center
}
.booking-flow-confirmation h2,
.wedding-flow-confirmation h2 {
    font-family: Brown, sans-serif;
    font-weight: 700;
    color: #fc4945;
    font-size: .8125rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin-bottom: 10px
}
.booking-flow-confirmation h1,
.booking-flow-confirmation h3,
.wedding-flow-confirmation h1,
.wedding-flow-confirmation h3 {
    font-family: Freight, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.29412;
    letter-spacing: .02em
}
.booking-flow-confirmation h1,
.wedding-flow-confirmation h1 {
    font-size: 2.125rem;
    margin-bottom: 30px;
    padding: 0 20px
}
@media screen and (max-width: 47.9375em) {
    .booking-flow-confirmation h3,
    .wedding-flow-confirmation h3 {
        font-size: 1.875rem!important
    }
}
@media print,
screen and (min-width: 48em) {
    .booking-flow-appointment .available-times li {
        margin: 0 8px 15px
    }
    .booking-flow-confirmation .cell,
    .wedding-flow-confirmation .cell {
        margin-top: 115px
    }
    .booking-flow-confirmation h3,
    .wedding-flow-confirmation h3 {
        font-size: 1.5rem
    }
}
.booking-flow-confirmation p,
.wedding-flow-confirmation p {
    margin: 0 auto 30px;
    max-width: 370px;
    padding: 0 48px
}
.booking-flow-confirmation .calendar,
.wedding-flow-confirmation .calendar {
    margin: 0 auto 90px;
    max-width: 200px
}
.booking-flow-confirmation .download-app,
.wedding-flow-confirmation .download-app {
    background-color: #37173d
}
.booking-flow-confirmation .download-app .content,
.wedding-flow-confirmation .download-app .content {
    margin: 0 auto;
    max-width: 1170px;
    position: relative
}
@media print,
screen and (min-width: 48em) {
    .booking-flow-confirmation p,
    .wedding-flow-confirmation p {
        margin-bottom: 80px;
        padding: 0
    }
    .booking-flow-confirmation .calendar,
    .wedding-flow-confirmation .calendar {
        display: none
    }
    .booking-flow-confirmation .download-app .content,
    .wedding-flow-confirmation .download-app .content {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .booking-flow-confirmation .download-app .content .message,
    .wedding-flow-confirmation .download-app .content .message {
        max-width: calc(50% - 15px)
    }
}
.booking-flow-confirmation .download-app .content .message,
.wedding-flow-confirmation .download-app .content .message {
    width: 100%
}
.booking-flow-confirmation .download-app .content .message h4,
.wedding-flow-confirmation .download-app .content .message h4 {
    margin-bottom: 20px
}
@media print,
screen and (min-width: 64em) {
    .booking-flow-confirmation h3,
    .wedding-flow-confirmation h3 {
        font-size: 2.125rem
    }
    .booking-flow-confirmation .download-app .content .message h4,
    .wedding-flow-confirmation .download-app .content .message h4 {
        margin-bottom: 40px
    }
}
.booking-flow-confirmation .download-app .content .message h3,
.wedding-flow-confirmation .download-app .content .message h3 {
    color: #fff;
    margin: 0 auto 20px;
    max-width: 440px
}
@media screen and (min-width: 23.4375em) {
    .booking-flow-confirmation .download-app .content .message h3,
    .wedding-flow-confirmation .download-app .content .message h3 {
        margin-bottom: 40px
    }
}
@media print,
screen and (min-width: 48em) {
    .booking-flow-confirmation .download-app .content .message h3,
    .wedding-flow-confirmation .download-app .content .message h3 {
        margin-bottom: 20px;
        padding: 0 30px
    }
    .booking-flow-confirmation .download-app .content .message .app-store-link,
    .wedding-flow-confirmation .download-app .content .message .app-store-link {
        display: none
    }
}
.booking-flow-confirmation .download-app .content .message .app-store-link,
.wedding-flow-confirmation .download-app .content .message .app-store-link {
    max-width: 130px
}
.booking-flow-confirmation .download-app .content .image-container,
.wedding-flow-confirmation .download-app .content .image-container {
    max-width: calc(50% - 15px)
}
@media screen and (max-width: 47.9375em) {
    .booking-flow-confirmation .download-app .content,
    .wedding-flow-confirmation .download-app .content {
        max-width: 375px
    }
    .booking-flow-confirmation .download-app .content:after,
    .wedding-flow-confirmation .download-app .content:after {
        content: "";
        display: block;
        padding-bottom: 100%
    }
    .booking-flow-confirmation .download-app .content .message,
    .wedding-flow-confirmation .download-app .content .message {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 20px;
        position: absolute;
        height: 100%
    }
    .booking-flow-confirmation .download-app .content .image-container,
    .booking-flow-confirmation .download-app .content .message h4,
    .wedding-flow-confirmation .download-app .content .image-container,
    .wedding-flow-confirmation .download-app .content .message h4 {
        display: none
    }
    .booking-flow-payment .appointment-summary h2 {
        text-align: center
    }
}
.booking-flow-confirmation .download-app h4,
.wedding-flow-confirmation .download-app h4 {
    font-family: Brown, sans-serif;
    font-weight: 700;
    color: #fc4945;
    font-size: .8125rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase
}
.booking-footer-help {
    background-color: #f4f0f0;
    color: #999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px
}
.booking-footer-help p {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .16em;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: uppercase
}
.booking-footer-help a {
    color: inherit;
    font-size: .8125rem;
    text-decoration: none
}
.booking-flow-market {
    background-color: #37173d;
    text-align: center;
    padding: 55px 0 60px
}
.booking-flow-market .booking-flow-content {
    background-color: #37173d
}
.booking-flow-market .booking-flow-title {
    position: relative;
    margin: 26px auto 50px;
    padding-top: 26px
}
.booking-flow-market .booking-flow-title:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(229, 229, 229, .5);
    content: "";
    display: block;
    top: 0;
    width: 24px;
    height: 1px
}
@media print,
screen and (min-width: 48em) {
    .booking-flow-confirmation .component-looks,
    .booking-footer-help,
    .wedding-flow-confirmation .component-looks {
        display: none
    }
    .booking-flow-market .booking-flow-title {
        margin-top: 43px;
        margin-bottom: 58px;
        padding-top: 55px
    }
}
.booking-flow-market .booking-markets {
    margin-bottom: 40px
}
.booking-flow-market .booking-markets li {
    margin-bottom: 20px
}
.booking-flow-market .booking-markets .coming-soon {
    background-color: #4f3d53
}
.booking-flow-market .booking-markets .coming-soon span {
    font-family: Freight, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    display: block;
    font-size: .6875rem;
    font-style: italic;
    letter-spacing: .8px;
    text-transform: lowercase
}
.booking-flow-market .gs-button {
    margin: 0 auto;
    max-width: none
}
@media screen and (min-width: 25em) {
    .booking-flow-market .gs-button {
        max-width: 250px
    }
}
.booking-flow-market .add-city {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    color: #fff
}
.mailing-modal .email {
    margin-bottom: 10px
}
.mailing-modal .zip {
    margin: 0
}
.booking-flow-payment .payment-container {
    position: relative
}
.booking-flow-payment .payment-container:after {
    clear: both;
    content: "";
    display: table
}
.booking-flow-payment .gs-form .gs-checkbox,
.booking-flow-payment .gs-form .gs-label:not(.cc-label) {
    margin-top: 25px
}
.booking-flow-payment p.success {
    margin: 10px 0 0
}
.booking-flow-payment .book-now {
    margin-top: 25px
}
.booking-flow-payment .billing-state-zip,
.booking-flow-payment .card-exp-cvc {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.booking-flow-payment .card-exp-cvc span {
    width: calc(50% - 10px)
}
.booking-flow-payment .billing-state-zip .left {
    width: calc(35% - 10px)
}
.booking-flow-payment .billing-state-zip .right {
    width: calc(65% - 10px)
}
.booking-flow-payment .billing .gs-textbox {
    margin-top: 25px
}
.booking-flow-payment .billing .gs-label+.gs-textbox {
    margin: 0
}
.booking-flow-payment .appointment-summary {
    padding: 20px
}
.booking-flow-payment .appointment-summary h2 {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .0625em;
    text-transform: uppercase;
    line-height: 1.625;
    margin-bottom: 20px
}
.booking-flow-payment .appointment-summary .details {
    font-size: .8125rem;
    line-height: 1.38462;
    margin-bottom: 20px
}
.booking-flow-payment .appointment-summary .details>li {
    padding-left: 22px;
    position: relative
}
.booking-flow-payment .appointment-summary .details>li:not(:last-child) {
    margin-bottom: 4px
}
.booking-flow-payment .appointment-summary .details .gs-icon {
    position: absolute;
    top: 3px;
    left: 0;
    width: 12px;
    height: 12px
}
.booking-flow-payment .appointment-summary .details .gs-icon .icon {
    fill: #fc4945
}
.booking-flow-payment .appointment-summary .prices {
    font-size: .8125rem;
    line-height: 1;
    margin-top: 20px
}
.booking-flow-payment .appointment-summary .prices>li:after {
    clear: both;
    content: "";
    display: table
}
.booking-flow-payment .appointment-summary .prices>li:not(:last-child) {
    margin-bottom: 10px
}
.booking-flow-payment .appointment-summary .prices .subtotal,
.booking-flow-payment .appointment-summary .prices .total {
    margin-top: 15px
}
.booking-flow-payment .appointment-summary .prices .item {
    float: left;
    text-transform: capitalize
}
.booking-flow-payment .appointment-summary .prices .price {
    float: right
}
.booking-flow-payment .appointment-summary .prices .credit {
    color: #2cbfbf
}
.booking-flow-payment .appointment-summary .prices .item-add-ons {
    clear: both;
    color: #a9a4a3;
    text-transform: capitalize
}
.booking-flow-payment .appointment-summary .prices .item-add-ons .item-add-on {
    padding-top: 5px
}
.booking-flow-payment .appointment-summary .prices .total {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .9375rem
}
.booking-flow-payment .appointment-summary .prices hr {
    clear: both;
    float: left
}
.booking-flow-payment .disclaimer {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center
}
.booking-flow-payment .disclaimer a {
    text-decoration: none
}
.delete-payment-modal p {
    margin: 0;
    text-align: center
}
.booking-flow-services {
    text-align: center
}
.booking-flow.steps .booking-flow-services .booking-flow-content.cell {
    padding-bottom: 150px;
    padding-right: 0;
    padding-left: 0
}
.booking-flow-services .service-type-nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px
}
.booking-flow-services .service-type-nav li {
    font-family: Brown, sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: .8125rem;
    letter-spacing: .1em;
    line-height: 1;
    margin: 0 10px;
    padding-bottom: 5px;
    position: relative;
    text-transform: uppercase
}
@media screen and (min-width: 23.4375em) {
    .booking-flow-services .service-type-nav li {
        margin: 0 15px
    }
}
@media print,
screen and (min-width: 48em) {
    .booking-flow.steps .booking-flow-services .booking-flow-content.cell {
        width: 66.66667%;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 230px
    }
    .booking-flow-services .service-type-nav li {
        margin: 0 20px
    }
}
.booking-flow-services .service-type-nav li:after {
    background-color: #fc4945;
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    width: 100%;
    height: 4px
}
.booking-flow-services .service-type-nav li.active:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1)
}
.booking-flow-services .services {
    margin: 0 auto;
}
.booking-flow-services .services .service {
    border: 2px solid #e9e2e1;
    margin: 0 auto 40px;
    position: relative;
    transition: border-color 250ms;
    width: 284px
}
@media print,
screen and (min-width: 64em) {
    .booking-flow-confirmation .download-app .content .message h3,
    .wedding-flow-confirmation .download-app .content .message h3 {
        padding: 0
    }
    .booking-flow-payment .appointment-summary {
        position: absolute;
        top: 0;
        right: 0
    }
    .booking-flow-payment .appointment-summary h2 span {
        display: block
    }
    .booking-flow-services .service-type-nav li {
        margin: 0 30px
    }
    .booking-flow-services .services {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .booking-flow-services .services .service {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px
    }
}
.booking-flow-services .services .service.active,
.booking-flow-services .services .service:hover {
    border-color: #fc4945
}
.booking-flow-services .services .service.active .service-selector {
    background-color: #fc4945;
    border-color: #fc4945
}
.booking-flow-services .services .service.active .service-selector .gs-icon {
    display: inline-block
}
.booking-flow-services .services .service-hdr .service-image,
.booking-flow-services .services .service-hdr .service-link {
    display: block
}
.booking-flow-services .services .service-hdr .service-link {
    background-color: #e9e2e1;
    cursor: pointer;
    height: 130px;
    position: relative
}
.booking-flow-services .services .service-hdr .service-info {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 55%;
    left: 12px;
    width: 130px
}
.booking-flow-services .services .service-hdr .service-selector {
    background-color: rgba(244, 240, 240, .5);
    border: 1px solid rgba(136, 122, 136, .5);
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 250ms;
    width: 20px;
    height: 20px
}
.booking-flow-services .services .service-hdr .service-selector .gs-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    width: 18px;
    height: 18px
}
.booking-flow-services .services .service-hdr .service-selector .icon {
    fill: #fff
}
.booking-flow-services .services .service-hdr .service-title {
    font-family: Freight, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1;
    margin-bottom: 5px;
    max-width: 130px;
    text-transform: capitalize
}
.booking-flow-services .services .service-hdr .service-price {
    font-size: .875rem;
    line-height: 1
}
.booking-flow-services .services .service-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 30px
}
.booking-flow-services .services .service-description {
    color: #999;
    font-size: .875rem;
    line-height: 1.28571;
    margin-bottom: 15px;
    width: 100%
}
.booking-flow-services .services .service-options {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.booking-flow-services .services .service-options li {
    margin: 0 15px
}
.booking-flow-services .services .service-options .option {
    font-family: Brown, sans-serif;
    font-weight: 700;
    font-size: .625rem;
    letter-spacing: .15em;
    line-height: 1;
    text-transform: uppercase;
    color: #fc4945;
    cursor: pointer;
    display: block
}
.booking-flow-services .services .service-options .addons {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}
.booking-flow-services .services .service-options .addons .option {
    padding-right: 12px;
    position: relative
}
.booking-flow-services .services .service-options .addons .option.open:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
.booking-flow-services .services .service-options .addons .option:after {
    display: block;
    width: 0;
    height: 0;
    border: 4px inset;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fc4945 transparent transparent;
    position: absolute;
    top: 2px;
    right: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms
}
.booking-flow-services .services .service-addons {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    border: 1px solid #dfdede;
    box-shadow: 2px 2px 4px 0 rgba(153, 153, 153, .3);
    max-width: 250px;
    top: calc(100% - 5px);
    text-align: left;
    width: 100%;
    z-index: 100
}
.booking-flow-services .services .service-addons:before {
    border: 8px solid #fff;
    border-color: transparent transparent #fff #fff;
    box-shadow: -1px 1px #dfdede;
    content: "";
    position: absolute;
    top: 0;
    left: 70%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 0;
    height: 0
}
.booking-flow-services .services .service-addon {
    cursor: pointer;
    padding: 15px;
    position: relative
}
.booking-flow-services .services .service-addon:not(:last-child) {
    border-bottom: 1px solid #e9e2e1
}
.booking-flow-services .services .service-addon.active .gs-icon .icon {
    fill: #fc4945
}
.booking-flow-services .services .service-addon span {
    display: inline-block
}
.booking-flow-services .services .service-addon .service-addon-name-price {
    font-size: .75rem;
    letter-spacing: .075em;
    line-height: 1.5;
    margin-bottom: 5px;
    position: relative;
    text-transform: uppercase
}
.booking-flow-services .services .service-addon .gs-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: 12px;
    height: 12px
}
.booking-flow-services .services .service-addon .gs-icon .icon {
    fill: #e9e2e1;
    transition: fill 250ms
}
.booking-flow-services .services .service-addon .service-addon-description {
    color: #999;
    font-size: .75rem;
    line-height: 1.5
}
.booking-flow-services .booking-panel {
    background: #fff;
    box-shadow: 0 -2px 6px rgba(153, 153, 153, .2);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 38px;
    text-align: center;
    -webkit-transform: translateY(105%);
    transform: translateY(105%);
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    width: 100%;
    z-index: 1000
}
@media print,
screen and (min-width: 48em) {
    .booking-flow-services .booking-panel {
        padding: 20px;
        left: 33.33333%;
        width: 66.66667%
    }
    .booking-flow-services .booking-panel>div {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: end;
        justify-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}
.booking-flow-services .booking-panel.show {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.booking-flow-services .booking-panel p {
    font-size: .875rem;
    line-height: 1.42857;
    letter-spacing: .028em;
    text-transform: uppercase
}
.booking-flow-services .booking-panel .gs-button {
    transition: none
}
@media print,
screen and (min-width: 48em) {
    .booking-flow-services .booking-panel p {
        max-width: 386px
    }
    .booking-flow.steps .booking-flow-services .booking-panel .gs-button {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-left: 30px;
        margin-right: 0;
        width: 200px;
        display: inline-block;
    }
}
.component-looks img {
    display: block
}
.component-looks .grid-container {
    max-width: 1440px
}
.component-looks .looks-grid li.look,
.component-looks .looks-grid-mobile li.look {
    background-color: #37173d;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    text-align: center
}
.component-looks .looks-grid li.look h3,
.component-looks .looks-grid-mobile li.look h3 {
    font-family: Freight, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.29412;
    letter-spacing: .02em;
    margin-bottom: 27px;
    max-width: 270px
}
@media print,
screen and (min-width: 48em) {
    .component-looks .looks-grid li.look h3,
    .component-looks .looks-grid-mobile li.look h3 {
        font-size: 1rem;
        margin-bottom: 14px;
        max-width: 190px
    }
    .component-looks .looks-grid {
        width: 768px;
        height: 572px;
        margin-top: 16px
    }
}
@media print,
screen and (min-width: 64em) {
    .booking-flow-services .booking-panel {
        padding: 20px 70px
    }
    .component-looks .looks-grid li.look h3,
    .component-looks .looks-grid-mobile li.look h3 {
        font-size: 1.375rem;
        margin-bottom: 28px
    }
    .component-looks .looks-grid {
        width: 1024px;
        height: 764px
    }
}
@media screen and (min-width: 48em) and (max-width: 63.9375em) {
    .component-looks .looks-grid li.look .gs-button,
    .component-looks .looks-grid-mobile li.look .gs-button {
        font-size: .625rem;
        height: 40px;
        line-height: 40px;
        padding: 0 10px
    }
}
.component-looks .looks-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0
}
@media screen and (max-width: 47.9375em) {
    .booking-flow-payment .appointment-summary h2 span:last-child {
        display: block
    }
    .booking-flow-services .booking-panel p {
        margin-bottom: 10px
    }
    .booking-flow-services .booking-panel .gs-button {
        height: 40px
    }
    .component-looks .looks-grid {
        display: none
    }
}
.component-looks .looks-grid li {
    width: calc(25% - 12px);
    height: 180px
}
@media print,
screen and (min-width: 64em) {
    .component-looks .looks-grid li {
        height: 244px
    }
}
.component-looks .looks-grid li.portrait {
    height: 376px;
    overflow: hidden
}
@media print,
screen and (min-width: 64em) {
    .component-looks .looks-grid li.portrait {
        height: 504px
    }
}
.component-looks .looks-grid li.fact,
.component-looks .looks-grid li.quote {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    text-align: center
}
.component-looks .looks-grid li.fact {
    background-color: #37173d
}
.component-looks .looks-grid li.fact .number {
    overflow: hidden;
    width: 130px;
    height: 130px
}
@media print,
screen and (min-width: 64em) {
    .component-looks .looks-grid li.fact .number {
        width: 180px;
        height: 180px
    }
}
@media screen and (min-width: 75em) {
    .component-looks .looks-grid {
        width: 1200px;
        height: 896px
    }
    .component-looks .looks-grid li {
        height: 288px
    }
    .component-looks .looks-grid li.portrait {
        height: 592px
    }
    .component-looks .looks-grid li.fact .number {
        width: 210px;
        height: 210px
    }
}
@media screen and (min-width: 90em) {
    .component-looks .looks-grid li.look h3,
    .component-looks .looks-grid-mobile li.look h3 {
        font-size: 2.125rem;
        max-width: 240px
    }
    .component-looks .looks-grid {
        margin-top: 32px;
        width: 1440px;
        height: 1072px
    }
    .component-looks .looks-grid li {
        width: calc(25% - 24px);
        height: 336px
    }
    .component-looks .looks-grid li.portrait {
        height: 704px
    }
    .component-looks .looks-grid li.fact .number {
        width: 240px;
        height: 240px
    }
}
.component-looks .looks-grid li.fact .number img {
    border-radius: 50%
}
.component-looks .looks-grid li.quote {
    background-color: #e9e2e1;
    color: #999
}
.component-looks .looks-grid li.quote blockquote {
    margin: 0;
    width: 100%
}
.component-looks .looks-grid li.quote cite {
    font-family: Brown, sans-serif;
    font-weight: 700;
    display: block;
    font-size: .75rem;
    font-style: normal;
    letter-spacing: .2em;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase
}
.component-looks .looks-grid li.quote p {
    font-family: Freight, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: .9375rem;
    font-style: italic;
    letter-spacing: .008em;
    line-height: 1.29412
}
@media print,
screen and (min-width: 64em) {
    .component-looks .looks-grid li.quote cite {
        margin-bottom: 20px
    }
    .component-looks .looks-grid li.quote p {
        font-size: 1.375rem
    }
}
@media screen and (min-width: 90em) {
    .component-looks .looks-grid li.quote cite {
        margin-bottom: 30px
    }
    .component-looks .looks-grid li.quote p {
        font-size: 1.875rem
    }
}
.component-looks .looks-grid-mobile {
    margin: 20px auto 0;
    max-width: 375px;
    padding: 0
}
.component-looks .looks-grid-mobile li:not(:last-child) {
    width: calc(50% - 10px)
}
.component-looks .looks-grid-mobile li:first-child {
    margin-bottom: 20px
}
.component-looks .looks-grid-mobile li:nth-child(2) {
    margin-bottom: 12px
}
@media screen and (min-width: 23.4375em) {
    .component-looks .looks-grid-mobile li:nth-child(2) {
        margin-bottom: 20px
    }
}
.component-looks .looks-grid-mobile li.portrait {
    float: left
}
.component-looks .looks-grid-mobile li.square {
    float: right;
    max-width: 175px
}
.component-looks .looks-grid-mobile li.look {
    clear: both;
    padding: 0;
    position: relative
}
.component-looks .looks-grid-mobile li.look:after {
    content: "";
    display: block;
    padding-bottom: 100%
}
.component-looks .looks-grid-mobile li.look>div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%
}
@media print,
screen and (min-width: 48em) {
    .component-looks .looks-grid-mobile {
        display: none
    }
}
/*# sourceMappingURL=sourcemaps/booking.css.map */

/*
////////////////
// Booking
////////////////
*/
.ng-hide {
  display: none!important;
}

.booking-flow-content a {
  text-decoration: none!important;

}
.booking-flow-services .services .service-content{
      padding: 10px 30px;
}
.booking-flow-services .services .service-hdr .service-link{
  height: 200px;
}
.booking-flow-services img {
  max-height: 100%;
  margin: 0 auto;
}
.booking-flow-services .services .service-hdr .service-link {
  background-color: #fff;
}
.booking-flow-services .service-type-nav li {
  line-height: 2;
}

select.booking {
    width: 100px;
    height: 42px;
    line-height: 30px;
    padding: 0 8px;
    margin: 0;
    text-align: center;
    outline: 0;
    vertical-align: top;
    background: #f9f9f9;
}
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 65px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.cost:before{
    content: '$';
}
.booking-flow.steps .steps, .booking-flow.steps .actions, .booking-flow.steps h3 {
  display: none;
}
.booking-flow.steps .content {
    width: 100%;
}