.site-header .switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 40px;
}

.site-header .switch input {display:none;}

.site-header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.site-header .slider:before {
  position: absolute;
  content: "";
  left: 3px;
  bottom: 3px;
  background-color: #FCFCFC;
  -webkit-transition: .4s;
  transition: .4s;
  content: "Trở thành kỹ thuật viên máy lạnh";
  text-align: -webkit-center;
  text-align: center;    
  padding: 6px;
  width: 250px;
  font-size: 14px;
}

input:checked + .slider {
  background-color: #FCFC00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FCFC00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(48px);
  -ms-transform: translateX(48px);
  transform: translateX(48px);
  content: "Trở thành kỹ thuật viên máy lạnh";
  text-align: center;    
  text-align: -webkit-center;
  text-align: center;  
  padding: 6px;
  width: 250px;
  font-size: 14px;
}

/* Rounded sliders */
.site-header .slider.round {
  border-radius: 5px;
}

.site-header .slider.round:before {
  border-radius: 5px;
}

.flex-direction-nav {
  line-height: 1.15;
}
.flexslider {
  background-color: #FFFF00;
  border: 4px solid #FFFF00;
}
/*
////////////////
// Participan
////////////////
*/
#form-participan {
  background: black url(/static/images/background-thamgia.jpg) no-repeat fixed;
  background-size: cover;
  height: 1600px;
  width: 100%;
}
.hero-copy.participan {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
}
picture.participan {
  float: left;
}
.participan .login-background {
  width: auto;
}
.participan h2 {
  text-transform: uppercase;
  font-size: 21px;
}
.participan .main-body-container {
  width: 60%;
}
.participan .button {
  background-color: #e9db04;
  padding: 15px;    
  color: black;
  font-weight: bold;
}
.participan .login-block {
  background-color: rgba(0,0,0,0);
}
.participan.background {
  position: absolute;
  float: left;
  border-right: 780px solid transparent;
  border-top: 2000px solid #ebebeb;
  z-index: 1;
}
.component-hero.participan {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.form-participan input {
  background-color: #ebebeb;
  padding: 10px;
}
#form-participan h3 {
  display: none;
}
#form-participan .form-label {
  font-size: 1em;
}
#form-participan .content {
  width: 100%;
  height: 100%;
}
#form-participan .steps, #form-participan .actions {
  display: none;
}
.participation-step2 .form-fields-wrapper {
  display: inline-flex;
  width: 50%;
}
#form-participan .grid-container, #form-participan .login-background {
  display: block;
  width: 100%;
}
.participation-step2 .form-fields-wrapper.line {
  display: block;
  text-align: left;
  margin-left: 0;
  width: 100%;
  max-width: none;
}
.form-fields-wrapper.line .form-label, .form-fields-wrapper.line .form-line {
  display: inline-flex;
}
.participation-step2 .form-fields-wrapper.tuple {
  width: 30%;
}
.participation-step2 .form-fields-wrapper.line .form-label{
  width: 25%;
}
.participation-step2 .form-fields-wrapper.line input {
  width: 300px;
}
.participation-step2 .center {
  margin-bottom: 40px;
}
.form-fields-wrapper.fullline {
  display: block;
  max-width: none;
  margin-left: 0;
  width: 100%;
}
.form-fields-wrapper.fullline .form-label, .form-fields-wrapper.fullline .form-line {
  display: block;
}
.form-fields-wrapper.fullline .option {
  display: inline-block;
  width: 40%;
}
.form-fields-wrapper.fullline .option .label {
  display: inline-flex;
  width: 70%;
}
.form-fields-wrapper.fullline .option .label:first-letter {
  text-transform: uppercase;
}
.form-fields-wrapper.fullline .option.fullline {
  display: block;
  width: 100%;
}
.form-fields-wrapper.fullline .option.fullline .label {
  width: 90%;
}
.form-fields-wrapper.center {
  display: block;
}


/*
////////////////
// Post
////////////////
*/
.content-post {
  padding: 20px 50px;
  font: initial;
}
.content-post li {
  list-style: initial;
}
.content-post strong {
  font: initial;
}

/*
////////////////
// User
////////////////
*/
#previous-and-upcoming-control .account-info-slab ul {
  display: grid;
}
#previous-and-upcoming-control .account-info-slab ul li {
  display: block;
}
#previous-and-upcoming-control .account-info-slab ul li span.title{
  float:left;
}
#previous-and-upcoming-control .account-info-slab ul li span.detail{
  float:right;
}
#star-rating a {
  width: 20px;
}
.form-fields-wrapper textarea {
      resize: horizontal;
}
.star-rating {
  margin: 0 auto;
}
.label.terms {
  display: inline!important;
}
.label.terms a {
  width: auto;
}